@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeInUp 0.8s ease-out forwards;
}
.fadeInDelay {
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.3s;
}



.fadeUp {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
